@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
margin: auto;
}
h1{
    font-family: Love Ya Like A Sister;
}
p {
    font-family: Loved by the King;
    font-size: 25px;
    text-align: center;
    
}
header{
    background-color: rgba(173, 29, 137, 0.474);
    text-align: center;
    padding: 30px;
}
nav{
    text-align: right;
    padding: 10px;
    background-color: rgba(173, 29, 137, 0.474);
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    transition-duration: 0.5s;
    border-radius: 5px;
}
nav a:hover{
    background-color: rgb(193, 38, 38);
    color: rgb(207, 207, 22);
    
}
article > h1{
    margin: auto;
    text-align: center;
}
main{
    max-width: auto;
    min-width: auto;
}